# Visual Studio user specific files
.vs/
UE/.vs/
KOLCHOZ/.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
/*.sln

# Unreal Engine core folders
UE/Binaries/*
UE/Plugins/**/Binaries/*
UE/Build/*
UE/Saved/*
UE/Intermediate/*
UE/Plugins/**/Intermediate/*
UE/DerivedDataCache/*

# Map built data
*_BuiltData.uasset
